<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

	<!-- ** Basic Page Needs ** -->
	<meta charset="utf-8">
	<title>TheThreeFriend Perfume</title>

	<!-- ** Mobile Specific Metas ** -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Agency HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<meta name="author" content="Themefisher">
	<meta name="generator" content="Themefisher Classified Marketplace Template v1.0">

	<!-- favicon -->
	<link href="~/userasset/images/favicon.png" rel="shortcut icon">

	<!--
	Essential stylesheets
	=====================================-->


	<link href="~/userasset/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="~/userasset/plugins/bootstrap/bootstrap-slider.css" rel="stylesheet">
	<link href="~/userasset/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/userasset/plugins/slick/slick.css" rel="stylesheet">
	<link href="~/userasset/plugins/slick/slick-theme.css" rel="stylesheet">
	<link href="~/userasset/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">

	<link href="~/userasset/css/style.css" rel="stylesheet">

</head>


<body class="body-wrapper">

	<!--Main header list-->
	@await Html.PartialAsync("_HeaderPartialView.cshtml")

	@RenderBody()

	<!--============================
	=            Footer            =
	=============================-->
	@await Html.PartialAsync("_FooterPartialView.cshtml")

	<!--
	Essential Scripts
	=====================================-->
	<script src="~/userasset/plugins/jquery/jquery.min.js"></script>
	<script src="~/userasset/plugins/bootstrap/popper.min.js"></script>
	<script src="~/userasset/plugins/bootstrap/bootstrap.min.js"></script>
	<script src="~/userasset/plugins/bootstrap/bootstrap-slider.js"></script>
	<script src="~/userasset/plugins/tether/js/tether.min.js"></script>
	<script src="~/userasset/plugins/raty/jquery.raty-fa.js"></script>
	<script src="~/userasset/plugins/slick/slick.min.js"></script>
	<script src="~/userasset/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<!-- google map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
	<script src="~/userasset/plugins/google-map/map.js" defer></script>

	<script src="~/userasset/js/script.js"></script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Script", required: false)

</body>

</html>
