@model BanHangMyPham.Models.Role

@{
    ViewData["Title"] = "Thông tin quyền quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Danh sách quyền truy cập</a></li>
        <li class="breadcrumb-item active" >Thông tin quyền truy cập</li>
    </ol>
</nav>
<div class="col-12">
    <div class="card top-selling overflow-auto">
        <div class="card-body pb-0">
            <h5 class="card-title">Thông tin quyền truy cập</h5>

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>@Model.RolesId</td>
                    </tr>
                    <tr>
                        <td>Tên quyền truy cập:</td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.Description</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-tone m-r-5" asp-action="Index">Back to List</a>
</div>
